* {
  box-sizing: border-box;
}

body {
  background-color: grey;
}

#logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  text-decoration: none;
}

#nav-bar {
  margin-right: 5%;
}

section {
  padding: 50px;
  margin: 50px;
}

#title {
  text-align: center;
  margin-bottom: 50px;
  font-family:  verdana, geneva; 
  font-size: 20px;
  font-weight: bold;
  
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
